/* product new */
.product_shop_all {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}
.product {
    margin: 10px 0;
    background-color: #fff;
    padding-bottom: 10px;
}
.product_new {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
}
.product_new_hot {
    display: inline-block;
    font-size: 15px;
    color: #333;
    padding: 12px 10px;
}

.product_shop {
    width: 150px;
    height: 190px;
    text-decoration: none;
}
.product_shop_img {
    width: 100%;
    height: 120px;
}
.product_shop-img_detail {
    width: 120px;
    height: 100%;
    padding: 0 15px;
}
.product_shop_information {
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 3px 5px 0 5px;
    text-align: center;
    color: #4972ce;
}
.product_shop_price {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    color: #e82424;
    font-weight: bold;
}